env_site/
__pycache__/
data/
logs/
.ipynb_checkpoints/
output/
bdsim_outputs/
bdsim_particle_files/
bdsim_scripts/
shared_data/
/shared_data

*.keras
*.db
*.ps1
*.pem.txt
*.sif
*.pth

test.ipynb
.DS_Store
